.i-black {
    color: black;
    font-weight: bold;
    font-style: normal;
}

.input-text-grey {
    width: 100% !important;
    height: 25px !important;
    color: #333 !important;
    border: 1px solid #dcdce6 !important;
    border-radius: 2px !important;
    padding: 5px;
}
.button-pesquisar {
    font: 400 20px Roboto, sans-serif !important;
    background-color: white !important;
    color: #01345C !important;    
    height: 20px !important;
}

.input-text-grey:focus {
    border: 2px solid #c1eff4 !important;
}

.input-text-grey:hover {
    border: 2px solid #c1eff4 !important;
}

::-webkit-input-placeholder {
    color: black;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: black;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: black;  
 }
 
 :-ms-input-placeholder {  
    color: black;  
 }